<ul>
  {{#each countries}}
    <li>
      <h2>{{name}}</h2>
      <p>Прапор: <img src="{{flag}}" alt="flag" /></p>
      <p>Столиця: <img src="{{capital}}" alt="capital" /></p>
      <p>Мова: <img src="{{laguage}}" alt="language" /></p>
      <p>Люди: <img src="{{population}}" alt="population" /></p>
    </li>
  {{/each}}
</ul>